@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100&display=swap");
/*font-family: 'Roboto', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;500;700;800&display=swap");
/*font-family: 'Dosis', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,800&display=swap");
/*font-family: 'Raleway', sans-serif;*/
*{
    margin: 0;
    padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}
:root{
    --main-color:#ff724c;
}
h1,h2{
    font-family: 'Dosis', sans-serif;
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1140px;
  }
}
.bg-main-color{
    background-color: var(--main-color);
}
.text-main-color{
    color: var(--main-color);
}
.border-main-color{
    border-color: var(--main-color) !important;
}
.butn i{
transition: 0.5s;
}
.butn:hover i{
transform: rotate(360deg);
color: white !important;
background-color: black !important;
}

.scroll-to-top{
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.loading{
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: var(--main-color) var(--main-color) transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent var(--main-color) var(--main-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  .loader::before {
    width: 32px;
    height: 32px;
    border-color: var(--main-color) var(--main-color) transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
      
.navbar .nav-link{
    padding-block: 15px;
    position: relative;
}
.navbar{
    transition: .4s background-color;
    -webkit-transition: .4s background-color;
    -moz-transition: .4s background-color;
    -ms-transition: .4s background-color;
    -o-transition: .4s background-color;
    
}
.navbar .nav-link::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--main-color);
    transition: 0.5s width;
    -webkit-transition: 0.5s width;
    -moz-transition: 0.5s width;
    -ms-transition: 0.5s width;
    -o-transition: 0.5s width;
}
.navbar .nav-link.active::after{
    width: 100%;
}
.navbar .nav-link:hover::after{
    width: 100%;
}
.header{
    background-image: url(../img/introbg5.png);
    background-size: cover;
    background-position-y: -80px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header p, header span{
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    
}
h1{
    font-size: 60px;
    font-weight: 700;
} 
header .icons i{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}
header .icons i:hover{
    transform: rotate(360deg);
    
}
header .icons i:nth-of-type(1){
    color: #3b5999;
    border-color: #3b5999;
}
header .icons i:nth-of-type(1):hover{
    color: white;
    background-color:#3b5999;
}

header .icons i:nth-of-type(2){
    color:#ea4c89;
    border-color:#ea4c89;
}
header .icons i:nth-of-type(2):hover{
    color: white;
    background-color:#ea4c89;
}

header .icons i:nth-of-type(3){
    color:#1769ff;
    border-color:#1769ff;
}
header .icons i:nth-of-type(3):hover{
    color: white;
    background-color:#1769ff;
}

header .icons i:nth-of-type(4){
    color:#0077b5;
    border-color:#0077b5;
}
header .icons i:nth-of-type(4):hover{
    color: white;
    background-color:#0077b5;
}

header .icons i:nth-of-type(5){
    color:#dd4b39;
    border-color:#dd4b39;
}
header .icons i:nth-of-type(5):hover{
    color: white;
    background-color:#dd4b39;
}

.header-content p{
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid #333333c5;
    animation: typing 3s;
    -webkit-animation: typing 3s infinite  alternate-reverse steps(27) both, blink 0.7s infinite;
}
@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 360px;
    }
}
@keyframes blink {
    from{
        border-color: #333333e5;
    }
    to{
        border-color: #33333300;
    }
}
h2{
    font-size: 48px;
    font-weight: 700;
}
.bg-about{
    background-color: #4e4e4e;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.custom-btn:hover i{
    color: var(--main-color) !important;

}
.custom-btn{
    color: #3b3b3b;
    font-weight: 600;
    font-size: 13px;
}
.count span{
    font-size: 26px;
    font-weight: 700;
}
.count p{
    font-size: 16px;
    font-weight: 700;

}
.title h2{
    color: #3b3b3b;
}
.title a i{
    background-color: #3b3b3b;
    cursor: pointer;
}
.services{
    padding: 110px 0;
}
.services .ser-item{
    position: relative;
    cursor: pointer;
}
.services .ser-item::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f3f3f3;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    z-index: -1;
    height: 0;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.services .ser-item:hover:after{
height: 100%;
}
.services .ser-item h3{
    color: #3b3b3b;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.services .ser-item p{
    color: #818181;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 30px;
}
.ser-item{
    padding: 30px 30px 10px 30px;
}
.services .ser-item img{
     margin-bottom: 30px;
}
.services .title span{
    font-weight: 500;
    font-size: 15px;
    color: #818181;
    margin-right: 185px;
    margin-bottom: 15px;
}
.about{
    margin: 0 -15px;
}
.portfolio{
    background-color: #f3f3f3;
}
.portfolio .nav-link{
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    color: rgb(95, 95, 95);
    border-color: rgb(95, 95, 95) !important;
}

.portfolio .nav-link.active{
    background-color: var(--main-color);
    border: none !important;
    color: white;
}
.info .project-title p{
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    color: rgb(59,59,59);
}
.info .project-title  span{
    font-weight: 400 !important;
}
.overlay{
    background-color: rgba(0,0,0,0.1);
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    cursor: pointer;
}
.project-card:hover .overlay{
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
}
.overlay i{
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: 0.5s 0.1s;
    -webkit-transition: 0.5s 0.1s;
    -moz-transition: 0.5s 0.1s;
    -ms-transition: 0.5s 0.1s;
    -o-transition: 0.5s 0.1s;
}
.project-card:hover .overlay i{
    transform: scale(1) rotate(360deg);
    -webkit-transform: scale(1) rotate(360deg);
    -moz-transform: scale(1) rotate(360deg);
    -ms-transform: scale(1) rotate(360deg);
    -o-transform: scale(1) rotate(360deg);
}
.overlay i:hover{
    background-color: transparent;
    color: var(--main-color) !important;
    border:1px solid white ;
}
.project-card .info{ 
    bottom: 40px;
     transition: 0.5s;
     -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
       -ms-transition: 0.5s;
        -o-transition: 0.5s;
        opacity: 0;
}
.project-card:hover .info{
    bottom: 0;
    opacity: 1;
}
.head h4{
    font-weight: 500;
    font-size: 20px;
    color: #3b3b3b;
    margin-top: 10px;
}
.resume .head i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.resume .head{
    position: relative;
}
.resume .head::before , .resume .item:not(:last-of-type):before{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: black;
    top: 25px;
    left:18px;
    z-index: -1;
}
.resume .head i:hover{
    background-color: #f3f3f3;
    color: var(--main-color) !important;
}
.item h6{
    font-size: 14px;
    font-weight: 500;
    color: #3b3b3b;
}
.item h6 span{
    font-weight: 400 !important;  
}
.desc .item{
    padding-left: 40px;
}
.resume .item:not(.item.special)::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 20px;
    left: 14px;
    background-color: white;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.resume .item:hover::after{
    background-color: var(--main-color);
}
.resume .item:not(.item.special):hover::after{
    background-color: var(--main-color);
}
/*
.resume .item.item-final::before{
    width: 0;
    height: 0;
}
*/

.bar{
    height: 5px;
    background-color: black;
    position: relative;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px ;
}
.bar::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    width: 80%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px ;
}
.item[percentage="80%"] h6{
    width: 80%;
}
.item[percentage="80%"] .bar::after{
    width: 80%;
}
.item[percentage="70%"] h6{
    width: 70%;
}
.item[percentage="70%"] .bar::after{
    width: 70%;
}
.item[percentage="55%"] h6{
    width: 55%;
}
.item[percentage="55%"] .bar::after{
    width: 55%;
}
.download-resume .download a{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 600;
    padding: 8px 14px 8px 15px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.download-resume{
    background:linear-gradient(rgba(59,59,59,0.75),rgba(59,59,59,0.75)), url('../img/brandbg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.download h2{
    font-size: 32px;
    font-weight: 500;
}
.download-resume .download a:hover{
    background-color: var(--main-color);
    border-color: var(--main-color) !important;
}
.brand-logo{
    gap: 150px;
}
.testimonials .qoute span{
     color: #5b5b5b;
     font-size: 14px;
}
.testimonials .qoute i{
    font-size:20px;
}

.testimonials .qoute:hover{
    color: white;
    background-color: #5b5b5b;
}
.testimonials .qoute:hover span{
    color: white;
}
.carousel-indicators{
    bottom: -100px;
  
}
.carousel-indicators [data-bs-target]{
    
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid var(--main-color);
}

.carousel-indicators .active{
    background-color: var(--main-color);
}
.contact{
    background: linear-gradient(rgba(255, 114, 76,0.85),rgba(255, 114, 76,0.85)),url('../img/contactbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.contact input:focus, .contact textarea:focus{
    border: 1px solid white !important;
    box-shadow: none;

}
.contact input::placeholder, .contact textarea::placeholder{
    color: white;

}
.contact form button span{
    font-family: 'Raleway', sans-serif;
}
.map .contact-info .info p{
    font-size: 16px;
    font-weight: 500;
}
.map .contact-info .container{
    background-color: #282828;
    padding: 23px 15px 23px 15px;
}
.map .contact-info i{
    font-size: 12px;
    background-color: #f3f3f3;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    transition: 0.4s transform, 0.4s color;
    -webkit-transition: 0.4s transform, 0.4s color;
    -moz-transition: 0.4s transform, 0.4s color;
    -ms-transition: 0.4s transform, 0.4s color;
    -o-transition: 0.4s transform, 0.4s color;
}
.map .contact-info i:hover{
    transform: rotate(360deg);
    background-color: var(--main-color);
    color: white;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
.map{
    background-color: #f3f3f3;
    
}
footer {
    background-color: #f3f3f3;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 30px;
}
footer p {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 16px;
    color: #818181;
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
}
